.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
  padding-top: 70px;
  padding-bottom: 222px;
  background-color: var(--white);
}

.header .img-container{
  width: 360px;
  align-self: center;
}

.header .img-container img{
  width: 100%;
}

.header .header-info{
  max-width: 500px;
  text-align: center;
}

.header .header-info h2{
  color: var(--very-dark-blue);
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.05px;
}

.header .header-info p{
  color: var(--grayish-violet);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.123px;
  margin-top: 15px;
  margin-bottom: 32px;
}

.header .header-info button{
  color: var(--white);
  font-size: 20px;
  font-weight: 700;
  padding: 14px 40px;
  background-color: var(--cyan);
  border-radius: 28px;
  transition: .2s;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  background-color: var(--dark-violet);
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  transform: translateY(-50%);
}

.input-container input{
  width: 95%;
  height: 48px;
  color: var(--very-dark-blue);
  font-size: .89rem;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.12px;
  padding-left: 16px;
  border-radius: 5px;
  background: var(--white);
  outline: none;
  border: none;
  z-index: 2;
}

.input-container input::placeholder{
  opacity: .5;
}

.input-container button{
  width: 95%;
  height: 48px;
  background-color: var(--cyan);
  border-radius: 5px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  z-index: 2;
}

.input-container picture{
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

.input-container picture img{
  display: block;
  border-top-right-radius: 10px;
}

.advanced-statistics{
  width: 95%;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.advanced-statistics h3{
  color: var(--very-dark-blue);
  font-size: 1.56rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.7px;
}

.advanced-statistics p{
  color: var(--grayish-violet);
  font-size: .89rem;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.109px;
  margin-top: 16px;
}

.cards-container{
  width: 327px;
  margin: 0 auto;
  margin-top: 92px;
}

.cards-container ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 92px;
  text-align: center;
}

.cards-container ul li{
  background-color: var(--white);
  padding: 77px 32px 41px 32px;
  border-radius: 5px;
  position: relative;
}

.cards-container ul li .icon-container{
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background-color: var(--dark-violet);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.cards-container ul li h4{
  width: 263px;
  color: var(--very-dark-blue);
  font-size: 1.2rem;
  font-weight: 700;
}

.cards-container ul li p{
  width: 263px;
  color: var(--grayish-violet);
  font-size: .83rem;
  font-weight: 500;
  margin-top: 12px;
}

.cards-container ul li:nth-child(2) .line{
  width: 8px;
  height: 92px;
  background-color: var(--cyan);
  position: absolute;
  left: 50%;
}

.cards-container ul li:nth-child(2) .line:first-child{
  top: 0;
  transform: translateY(-100%) translateX(-50%);
}

.cards-container ul li:nth-child(2) .line:last-child{
  bottom: 0;
  transform: translateY(100%) translateX(-50%);
}

@media(min-width: 1280px){

  .header{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 37px;
    padding-left: 140px;
  }

  .header .img-container{
    width: 500px;
    align-self: flex-end;
  }

  .header .img-container img{
    object-fit: cover;
    object-position: left;
    height: 400px;
  }

  .header .header-info{
    max-width: 563px;
    text-align: start;
  }

  .header .header-info h2{
    font-size: 4.4rem;
    line-height: 90px;
    letter-spacing: -2px;
  }

  .header .header-info button:hover{
    background-color: var(--cyan-hover);
    cursor: pointer;
  }

  .input-container{
    flex-direction: row;
    justify-content: center;
    padding: 52px 64px;
    gap: 24px;
    width: 1100px;
    max-width: initial;
  }

  .input-container input{
    width: 769px;
    height: 64px;
    font-size: 1.1rem;
    letter-spacing: 0.15px;
    padding-left: 32px;
    border-radius: 10px;
  }

  .input-container button{
    width: 188px;
    height: 64px;
    border-radius: 10px;
    font-size: 1rem;
    transition: .2s;
  }

  .input-container button:hover{
    cursor: pointer;
    background-color: var(--cyan-hover);
  }

  .input-container picture{
    width: 100%;
  }

  .input-container picture img{
    border-radius: 10px;
  }

  .advanced-statistics{
    max-width: 540px;
    margin-top: 36px;
  }

  .advanced-statistics h3{
    font-size: 2.2rem;
    letter-spacing: -1px;
  }

  .advanced-statistics p{
    line-height: 32px;
    letter-spacing: 0.123px;
    margin-top: 18px;
  }

  .cards-container{
    width: 1100px;
    margin-top: 92px;
  }

  .cards-container ul{
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    text-align: start;
  }

  .cards-container ul li{
    width: 350px;
    height: 267px;
  }

  .cards-container ul li:nth-child(2){
    transform: translateY(40px);
  }

  .cards-container ul li:nth-child(3){
    transform: translateY(80px);
  }

  .cards-container ul li:nth-child(2) .line{
    height: 8px;
    width: 25px;
    left: initial;
  }

  .cards-container ul li:nth-child(2) .line:first-child{
    top: 110px;
    left: 0;
    transform: translateY(0) translateX(-100%);
  }

  .cards-container ul li:nth-child(2) .line:last-child{
    right: 0;
    bottom: unset;
    top: 110px;
    transform: translateY(0) translateX(100%);
  }
}

