<header class="header">
  <div class="img-container">
    <img src="../../../assets/images/illustration-working.svg" alt="Illustration of someone working">
  </div>
  <article class="header-info">
    <h2>
      More than just shorter links
    </h2>
    <p>
      Build your brand’s recognition and get detailed insights on how your links are performing.
    </p>
    <button>
      Get Started
    </button>
  </article>
</header>
<section class="input-container">
  <input type="text" placeholder="Shorten a link here...">
  <button>
    Shorten It!
  </button>
  <picture>
    <source media="(max-width: 1280px)" srcset="../../../assets/images/bg-shorten-mobile.svg">
    <source media="(min-width: 1280px)" srcset="../../../assets/images/bg-shorten-desktop.svg">
    <img src="../../../assets/images/bg-shorten-mobile.svg" alt="">
  </picture>
</section>
<article class="advanced-statistics">
  <h3>
    Advanced Statistics
  </h3>
  <p>
    Track how your links are performing across the web with our advanced statistics dashboard.
  </p>
</article>
<section class="cards-container">
  <ul>
    <li>
      <div class="icon-container">
        <img src="../../../assets/images/icon-brand-recognition.svg" alt="brand-recognition icon">
      </div>
      <h4>
        Brand Recognition
      </h4>
      <p>
        Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links help instil confidence in your content.
      </p>
    </li>

    <li>
      <div class="line"></div>
      <div class="icon-container">
        <img src="../../../assets/images/icon-detailed-records.svg" alt="brand-recognition icon">
      </div>
      <h4>
        Detailed Records
      </h4>
      <p>
        Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.
      </p>
      <div class="line"></div>
    </li>

    <li>
      <div class="icon-container">
        <img src="../../../assets/images/icon-fully-customizable.svg" alt="brand-recognition icon">
      </div>
      <h4>
        Fully Customizable
      </h4>
      <p>
        Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.
      </p>
    </li>
  </ul>
</section>
